body{
    background-color: blueviolet;
    height: 100vh;    
    width: 100vw;
    margin: 0%;
    padding-left: 0;
}

.client-button,.owner-button{
    padding: 0.8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    border: 3px solid transparent;
    border-radius: 4px;
    margin:0 auto;
     width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
}

.part1 .container .side{
    width: 100vw;
    height:100vh;
    
}


.row{
    width: 100vw;
    transform: translateX(-20.3%);
}


.client-side{
    background-color: rgb(126, 189, 58);
}

.owner-side{
    background-color: rgb(10, 151, 10);
}

.form-client ,.form-owner{
    display: none;
    background-color:burlywood;
    text-align: center;
    width: 100%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    padding: 20px;
    animation: 1s drop;
}





@keyframes drop {
    0%{
        top: 100px;
    }
    100%{
        top: 50%;
    }
}

.user{
    margin-top: 10px;
}

.choose{
    width: 220px;
}

.discr{
    width: 150px;
}

.btn-submit{
    width: 100px;
    height: 50px;
    border: darkgreen;
    background-color:darkorange;
    border-radius: 20%;
}